.content-products-page{
    padding: 60px;
}
.content__main{
    display: flex;
    margin-top: 50px;
}
.content__main img{
    width: 100%;
}
.left-sidebar{
    width: 20%;
}
h1, h2{
    font-weight: 300;
    height: 50px;
    line-height: 50px;
}
.group-filter ul{
    margin-left: 10px;
}
.group-filter input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.group-filter label{
    vertical-align: top;
    cursor: pointer;
}
.view-color{
    width: 40px;
    height: 15px;
    border: 1px solid #dbdbdb;
    float: right;
    margin: 1px 110px 0 0;
}
.list-products{
    width: 80%;
}
.product-item{
    margin: 30px 30px 0 0;
    text-align: center;
}
.pagination{
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
}
.pagination li{
    display: inline-block;
    padding: 0 5px;
}
.pagination a{
    display: block;
    background-color: black;
    width: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
.pagination li:not(:first-child) a{
    background-color: white;
    color: black;
}
.pagination li:hover a{
    color: white;
    background-color: black;
}