.content{
    padding: 50px;
}
.content__top{
    display: flex;
    margin-bottom: 40px
}
.content__top--left{
    width: 50%;
}
.content__top--left img{
    width: 100%;
}
.list-img li{
    display: inline-block;
    width: 20%;
    margin: 0 10px;
    box-sizing: border-box;
}
.border-img{
    border: 1px solid black;
}
.list-img li:hover{
    border: 1px solid black;
}
.content__top--right{
    width: 50%;
}
.content__top--right > div{
    margin-top: 20px;
}
.content__top--right h1::after{
    content: '';
    display: block;
    width: 50px;
    height: 0.5px;
    background-color: rgb(74, 15, 15);
    margin: 20px 0;
}
.content__top--right li{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}
.border-size{
    border: 1px solid black !important;
}
.qty-inp input{
    width: 50px;
    height: 50px;
    float: left;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 24px;
    margin-right: 5px;
    text-align: center;
    color: #909090;
}
.hotline-and-policy{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}
.product-hotline{
    margin-bottom: 10px;
}
.hotline-and-policy h4{
    color: rgb(0, 188, 0);
    text-transform: uppercase;
}
.content__bottom > h3{
    border-bottom: 1px solid #909090;
}
.product-description{
    margin-bottom: 50px;
}
.product-description h4{
    margin: 20px 0;
}