.content{
    text-align: center;
    margin: 50px 0;
}
.main-content{
    margin: auto;
    width: 385px;
    padding-top: 10px;
}
.main-content input{
    box-sizing: border-box;
    width: 385px;
    height: 42px;
    padding: 0 20px;
    margin-bottom: 15px;
    outline: none;
}
.main-content button{
    display: block;
    width: 135px;
    height: 42px;
    margin-bottom: 15px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}
.back-to-home{
    text-align: left;
}
.back-to-home a{
    color: black;
}
.back-to-home a:hover{
    color: brown;
}